@model NicksUsedCars.Models.Vehicle

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>
@if (ViewBag.DeleteMessage == null)
{
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Model.GetVehicleName()</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturedYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturedYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyStyle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyStyle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransmissionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransmissionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriveType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriveType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExteriorColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExteriorColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InteriorColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InteriorColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SmallPhotoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SmallPhotoUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineConfiguration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineConfiguration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horsepower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horsepower)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Cancel</a>
    </form>
</div>
}
else
{
    <h3>@ViewBag.DeleteMessage</h3>
    <a class="btn btn-outline-primary" asp-action="index">Back to list</a>
}
