@using Microsoft.AspNetCore.Identity
@model IEnumerable<NicksUsedCars.Models.VehicleWaitList>
@inject NicksUsedCarsContext _Context
@inject UserManager<ApplicationUser> _UserManager

@{
    ViewData["Title"] = "MaintainWaitList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>MaintainWaitList</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Vehicle
            </th>
            <th>
                User
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @{ Vehicle v = VehicleDb.GetSingleVehicle(item.VehicleId, _Context); }
                @v.GetVehicleName()
            </td>
            <td>
                @{ ApplicationUser user = await _UserManager.FindByIdAsync(item.UserId); }
                @user.FirstName @user.LastName
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                <a class="btn btn-danger" asp-action="DeleteUserFromWaitList" asp-route-id="@user.Id" asp-route-vehicleId="@v.StockNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
