@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity
@model IEnumerable<NicksUsedCars.Models.Vehicle>
@inject UserManager<ApplicationUser> _UserManager

<hr />

@if (Model == null || Model.Count() == 0)
{
    <p>No products match criteria</p>
}
else
{
    <script>
        function bgChange(x) {
            $(x).addClass("bg-secondary");
        }
        function removeClass(x) {
            $(x).removeClass("bg-secondary");
        }
    </script>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <p>image</p>
                </th>
                <th>
                    Vehicle
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody class="bg-light">
            @foreach (var item in Model)
            {
                <tr class="" onmouseover="bgChange(this)" onmouseout="removeClass(this)">

                    <td>
                        <img src="~/@item.SmallPhotoUrl" alt="@item.GetVehicleName()" />
                    </td>
                    <td class="container">
                        <p class="align-text-top font-weight-bold">@item.GetVehicleName()</p>
                        <div class="row">
                            <div class="col-auto">
                                <p>Price: $@item.Price</p>
                                <p>Mileage: @item.Mileage</p>
                                <p>Engine: @item.EngineSize L @item.EngineConfiguration</p>
                                <p>Transmission: @item.TransmissionType</p>
                            </div>
                            <div class="col-auto">
                                <p>Ext. color: @item.ExteriorColor</p>
                                <p>Int. color: @item.InteriorColor</p>
                                <p>VIN: @item.Vin</p>
                                <p>Drivetrain: @item.DriveType</p>
                            </div>
                            
                        </div>
                        
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="SelectedVehicle" asp-route-id="@item.StockNumber">View Vehicle</a>
                        @if (await IdentityExtension.IsManagerOrAbove(_UserManager, await _UserManager.GetUserAsync(User)))
                        {
                            <a class="btn btn-primary" asp-controller="Car" asp-action="Edit" asp-route-id="@item.StockNumber">Edit</a>
                            <a class="btn btn-danger" asp-controller="car" asp-action="Delete" asp-route-id="@item.StockNumber">Delete</a>
                        }
                    </td>
                </tr>
            }

</tbody>
    </table>

}